<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width,initial-scale=1" />
	<title>Table Editor</title>
	{{!-- <meta http-equiv="Content-Security-Policy"
		content="default-src 'none'; img-src {{ webviewCspSource }} https:; style-src {{ webviewCspSource }}; script-src 'nonce-{{ nonce }}';"> --}}
	<link rel='stylesheet' href='{{ globalStylesUri }}'>
	<link rel='stylesheet' href='{{ stylesUri }}'>
	<script defer nonce="{{ nonce }}" src="{{ scriptUri }}"></script>
</head>

<body></body>

</html>